@CHARSET "UTF-8";
* {
	padding:0;
	margin:0;
}
body {
	width:980px;
	margin:0 auto;
	/*background:#fff;*/
	font-size:14px;
}
ul {
	list-style-type:none;
}
h2 {
	font-size:14px;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:10px;
}
#header {
	width:980px;
	height: 80px;
	background-image: url('/images/top.png');
	clear: both;
}
#header h1 {
	color: #fff;
	padding-left: 27px;
	padding-top: 12px;
	line-height: 60px;
	font-size: 36px;
	width: 110px;
	float: left;
}
/*.logo {
	background:url('/images/logo.png') no-repeat;
	width: 145px;
	height: 80px;
	margin-left: 27px;
	margin-top: 20px;
	float: left;
}*/
.logo {
	width: 145px;
	height: 80px;
	float: left;
}
.logo img {
	padding-left: 27px;
	padding-top: 22px;
}
#header dl {
	color: #fff;
	padding-top: 24px;
	padding-left: 5px;
	font-size: 12px;
	float: left;
	width: 135px;
	line-height: 17px;
}
#header ul {
	width: 250px;
	float: left;
	padding-top: 33px;
	padding-left: 10px;
}
#header ul li {
	display: inline;
	padding-left: 30px;
}
#header ul li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
#header input {
	height: 25px;
	width: 209px;
	margin-top: 2px;
	color: #ccc;
	border: medium none;
	outline: medium none;
}
.search_bg {
	width: 37px;
	height: 30px;
    margin-top: 27px;
    margin-left: -15px;
    background: url('/images/search_01.gif') no-repeat;
    float: left;
    cursor: pointer;
}
.search_bg2 {
	width: 223px;
	height: 30px;
    margin-top: 27px;
    background: url('/images/search_02.gif') no-repeat;
    float: left;
}
/*.reg_login {
	float: right;
	width: 100px;
	color: #6BA613;
	font-size: 13px;
	padding-top: 41px;
	padding-right: 60px;
}*/
.reg_login {
	float: right;
	width: 140px;
	height: 40px;
	margin-top: 25px;
	/*border: 1px solid red;*/
}
.menu {
	clear: both;
	width: 980px;
	background-image: url('/images/menu.png');
	height: 41px;
}
.menu img {
	position: absolute;
	top: 73px;
	left: 582px;
	clear: both;
}
.fsb_font {
	position: absolute;
	top: 93px;
	left: 572px;
	font-weight: 200px;
	color: #fff;
}
#footer p {
	clear: both;
	margin-top: 20px;
	color: #999;
}
#footer p a {
	text-decoration: none;
	color: #999;
}