@CHARSET "UTF-8";
.fsb_title {
	margin: 75px 20px 0 0;
	height: auto;
}
.f1 {
	font-size: 28px;
	font-weight: bold;
}
.f2 {
	margin-left: 30px;
	color: #999999;
}
.fsb {
	float: left;
	width: 480px;
	overflow: hidden;
	height: 150px;
	/*margin-bottom: 20px;*/
	margin-top: 20px;
}
.pic {
	float: left;
}
.pic a {
	text-decoration: none;
	outline: none;
}
.content {
	float: left;
	width: 200px;
	margin-left: 35px;
}
.content h3 a {
	color: #25539E;
	font-size: 16px;
	font-weight: 200;
	text-decoration: none;
}
.content h3 a:hover {
	color: red;
}
.content dl dt {
	padding-top: 10px;
	font-weight: 200;
	color: #999999;
}
.content p {
	padding-top: 10px;
	width: 300px;
	line-height: 20px;
}
/*.line {
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
}*/